/* --------- Overall Print Styles --------- */
.hidden-print {
  display: none !important;
}

a,
a:visited {
  text-decoration: none !important;
}

* {
  font-family: Arial, 'sans-serif' !important;
  letter-spacing: normal !important;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

.ie-icon-row,
.ie-search-toggle,
.search-pagination,
.bottom-carousel,
.carousel,
.attorney-tab-read-more,
.expand,
.expand-all,
.collapse,
.collapse-all,
.icon-pdf,
.icon-print,
.modal,
#rightSlideNav,
#bottomSlideNav,
.whats-new-box,
.noprint,
div.alert,
header,
.group-media,
.btn,
.nav,
.nav-tabs,
.nav-item,
.footer-links,
form,
#comments,
ul.links.list-inline,
ul.action-links {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.site-logo.visible-print-block img {
  width: 200px;
}

.site-logo.visible-print-block {
  margin-bottom: 40px !important;
}

.footer {
  margin-top: 30px;
}

.footer .copyright {
  text-align: center;
  font-size: 12px;
  line-height: 19px;
}

/*
tr,
img,
div.sidebar-aside-container,
div.sidebar-title-with-first,
.people-search-results-row
{
	page-break-inside: avoid !important;
}
*/
/*
h2,
h3 {
	page-break-after: avoid !important;
}
*/
/* --------- Paragarph Styles --------- */
.ie-details-content p {
  font-size: 13px;
  line-height: 18px;
}

/* --------- Header Styles --------- */
h2.ie-title {
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 15px;
}

h3 {
  font-size: 21px;
}

h4.ie-subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* --------- Idea Exchange Detail Page --------- */
.idea-exchange-title {
  display: none;
}

.idea-exchange-sidebar {
  /*display: none;*/
}

.idea-exchange-sidebar .aside-contacts .sidebar-title-with-first {
  display: none;
}

.idea-exchange-sidebar .aside-contacts .sidebar-aside-container {
  display: none;
}

.idea-exchange-sidebar .aside-contacts .sidebar-email-icon {
  display: none;
}

.idea-exchange-sidebar .aside-contacts h3.sidebar-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
  margin-top: 30px;
}

.idea-exchange-sidebar .aside-contacts h4 {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.idea-exchange-sidebar .aside-contacts h5 {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.idea-exchange-sidebar .aside-contacts p {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.idea-exchange-sidebar .sidebar-contact-details {
  margin-bottom: 30px;
}

.ie-details-top {
  border-bottom: 1px solid #777779;
  padding-bottom: 10px;
  margin-bottom: 18px;
}

.ie-details-top .ie-authors, .ie-details-top .ie-publication {
  color: #555559;
  font-size: 15px;
  line-height: 21px;
  margin: 0;
}

.idea-exchange-legal p {
  color: #464646;
  font-size: 12px;
  line-height: 16px;
}

p.ie-date {
  font-size: 14px;
}

.ie-details-content ul li,
.ie-details-content ol li {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 5px;
}

.ie-detail-photo img {
  max-width: 500px;
}

/* --- Events --- */
.row .event-buttons {
  display: none;
}

.ie-event-detail-date {
  margin-top: 20px;
}

.event-date-wrapper.pb-2 {
  display: none;
}

.event-start-end p {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #777779;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 30px;
}

/* --------- Capabilities Page Styles --------- */
.practice-area .featured-background img {
  max-width: 350px;
}

.practice-area h3.featured-section {
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.practice-area h2.featured-title {
  font-size: 20px;
  line-height: 27px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.practice-area .capabilities-icon-row {
  display: none;
}

.practice-area h4.featured-subhead {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
}

.practice-area .featured-content p {
  font-size: 13px;
  line-height: 18px;
}

.practice-area ul,
.practice-area ol,
.attorney-tab-info ul,
.attorney-tab-info ol {
  margin-top: 5px;
  padding-left: 40px !important;
}

.attorney-tab-info .practice-column:first-of-type ul {
  margin-bottom: 0px;
}

.attorney-tab-info .practice-column:last-of-type ul {
  margin-top: 0px;
  margin-bottom: 20px;
}

.row.ck-nyl-bootstrap-grid-row:first-of-type ul {
  margin-bottom: 0px;
  margin-top: 0px;
}

.row.ck-nyl-bootstrap-grid-row:last-of-type ul.list-triangle {
  /*margin-top: 0px;
    margin-bottom: 20px;*/
}

/* Overide padding-left for ordered lists because all ordered lists don't seem to be indented */
.attorney-tab-info ol {
  padding-left: 0px !important;
}

.practice-area ul li,
.practice-area ol li,
.attorney-tab-info ul li,
.attorney-tab-info ol li {
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 5px;
}

.row.attorney-tab-info h3.top-body-subhead,
.row.attorney-tab-info h3.body-subhead {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.row.attorney-tab-info p {
  font-size: 13px;
  line-height: 18px;
}

#experience h3 {
  /*margin-bottom: 0px;*/
}

#experience h2 {
  font-size: 20px;
  line-height: 27px;
  margin-top: 0px;
  margin-bottom: 10px;
}

#experience .row.attorney-tab-info p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.capabilities-accordion {
  display: none;
}

/* -- Hide right side bar -- */
.row.attorney-tab-info .sidebar-inner {
  display: none;
}

.row.attorney-tab-info .sidebar.hidden-print {
  display: block !important;
}

.aside-why h2 {
  font-size: 20px;
  line-height: 27px;
  margin-top: 0px;
  margin-bottom: 10px;
}

/*
.row .attorney-tab-info .sidebar-inner .nm-button-yellow {
	display: none;
}*/
/* Remove tab content -- */
.row .attorney-tab-info .people-search-results-row {
  display: none;
}

.row .attorney-tab-info .capabilities-practices {
  display: none;
}

.row .attorney-tab-info .related-industries-tab-info {
  display: none;
}

.row .attorney-tab-info .attorney-tab-articles {
  display: none;
}

/* --------- Bio Styles --------- */
.attorney-top-container .attorney-detail-photo-mobile {
  height: 200px;
  overflow: hidden;
}

.attorney-top-container .attorney-detail-photo-mobile img {
  width: 250px;
}

.attorney-top-container .attorney-detail-photo img {
  display: none;
}

.attorney-top-container .attorney-detail-info h1 {
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.attorney-top-container .attorney-detail-info h2 {
  font-size: 19px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 13px;
  margin-top: 0px;
}

.attorney-detail-info .attorney-detail-address {
  font-size: 14px;
  line-height: 19px;
}

.attorney-detail-info .attorney-detail-contact {
  font-size: 14px;
  line-height: 19px;
}

.attorney-detail-info .bio-email-print {
  margin-bottom: 25px !important;
}

.attorney-detail-info .detail-other-locations {
  /*display: none;*/
}

.attorney-detail-info .attorney-detail-contact {
  margin-top: 5px;
  margin-bottom: 10px;
}

.attorney-detail-info .attorney-detail-category p {
  font-size: 13px;
  line-height: 18px;
}

/*
.attorney-detail-info .attorney-detail-category.show_bio  p {
	display: inline;
} */
.attorney-detail-info .attorney-detail-category.show_bio p .ellipsis {
  display: none;
}

.attorney-detail-info .attorney-detail-category.show_bio p .description-more-print {
  display: inline !important;
}

/* JK: for hiding the view more portion of the bio intro */
.attorney-subnav .category-expand {
  display: none !important;
}

.attorney-subnav {
  font-size: 13px;
  line-height: 18px;
}

.professionals h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.professionals .spacer {
  display: none;
}

.professionals .attorney-tab-articles {
  display: block !important;
}

.professionals .nm-button-yellow {
  display: none;
}

.professionals .attorney-tab-articles h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 0px;
}

.professionals .attorney-tab-articles table.table-condensed {
  margin-bottom: 18px;
}

.professionals .attorney-tab-info .experience_content h3.top-body-subhead,
.professionals .attorney-tab-info .experience_content h3.body-subhead {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 8px;
}

/* --------- Bootstrap Styles --------- */
.navbar, .navbar > .container, .navbar > .encompass-wrapper {
  display: none !important;
}

/* --------- Location Styles --------- */
.row.featured-top .featured-background img {
  width: 100%;
}

.featured-content h3.featured-section {
  margin-bottom: 0px;
}

.featured-content h2.featured-title {
  font-size: 25px;
  margin-top: 10px;
}

.featured-container p {
  font-size: 14px;
  line-height: 19px;
}

.featured-container p .text-head-blue {
  color: #355989;
  font-weight: 600;
}

.location-details {
  margin-bottom: 30px;
}

#location-details h4,
.location-details h4 {
  margin-bottom: 0px;
}

/* Force a Page break on Key Contact */
#location-details .aside-contact-culture h4.culture-sidebar-title {
  page-break-before: always;
}

#location-details h4 p,
.location-details h4 p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0px;
}

#location-details p,
.location-details p {
  font-size: 13px;
  line-height: 18px;
}

.location-key-contact .contact-email-print {
  font-size: 13px;
  line-height: 18px;
}

.aside-contact-culture h4.culture-sidebar-title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.aside-contact-culture .sidebar-contact-photo .contact-photo {
  height: 200px;
  overflow: hidden;
}

.aside-contact-culture .sidebar-contact-photo img:parent {
  background-color: green;
}

.aside-contact-culture .sidebar-contact-photo img {
  width: 200px;
}

.aside-contact-culture .sidebar-contact-photo .sidebar-contact-details h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.aside-contact-culture .sidebar-contact-photo .sidebar-contact-details h6 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
}

.aside-contact-culture .sidebar-contact-photo .sidebar-contact-details h6 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.aside-contact-culture .sidebar-contact-photo .sidebar-contact-details h4 a {
  color: #000000;
  font-size: 14px;
}

.aside-contact-culture .sidebar-email-icon {
  display: none;
}

.aside-contact-culture .sidebar-phone p {
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#location-details .aside-contact-culture {
  margin-bottom: 20px;
}

.location-people {
  display: none;
}

#directions {
  margin-top: 30px;
}

#professionals {
  display: none;
}

/* --------- Firm Styles --------- */
.row.featured-top.mobile_background_banner {
  display: none;
}

.firm-video-thumb img {
  width: 200px;
}

.row.firm-message {
  margin-top: 30px;
}

.firm-video-thumb {
  height: 200px;
  overflow: hidden;
}

.row.firm-message h3 {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0px;
}

.aside-general-counsel h4 {
  margin-bottom: 5px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 22px;
}

.firm-content-wrapper details {
  margin-bottom: 10px;
}

.aside-general-counsel h5 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 13px;
}

.aside-general-counsel p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.aside-general-counsel .sidebar-email-icon {
  display: none;
}

.sidebar .sidebar-aside-container img {
  display: none;
}

.card-header.non-accordion h5.no_plus {
  display: none;
}

.card-header.non-accordion {
  display: none;
}

p.firm-above-affiliations {
  display: none;
}

.aside-general-counsel .visible-print-block {
  font-size: 13px;
  line-height: 18px;
}

/* --------- Culture Styles --------- */
.culture-intro p {
  font-size: 13px;
  line-height: 18px;
}

.culture-intro ul li {
  font-size: 13px;
  line-height: 18px;
}

.row.culture-highlights-images img {
  width: 400px;
}

.culture-intro details {
  margin-bottom: 10px;
}

.page_container-culture_pro_bono .sidebar-aside-container {
  display: none;
}

/* This hides the Culture Highlights */
.row.culture-highlights-images {
  display: none;
}

.culture-highlights {
  display: none;
}

.culture-highlights h2 {
  font-size: 18px;
  margin-bottom: 0px;
}

/* Carousels */
.aside-contact-culture .carousel {
  /* display: block !important; */
}

/* --------- Career Styles --------- */
.row.featured-buttons {
  display: none;
}

.careers-content-wrapper p {
  font-size: 13px;
  line-height: 18px;
}

.aside-careers h3.sidebar-title {
  display: none;
}

.careers-content-wrapper .row.careers-buttons {
  display: none;
}

.row.careers-content h3.sidebar-title {
  display: none;
}

.careers-content-wrapper h3.top-body-subhead {
  font-size: 15px;
}

.row.careers-content .nm-fake-button-green {
  display: none;
}

/* ---------------------------- Styles we may still want to use ---------------------------- */
/*
div[class*='accordion'] {
	display: none !important;
	width:0 !important;
	height:0 !important;
}


.container {
    width: auto !important;
	max-width: 90% !important;
	position: relative !important;
 	margin-left: auto !important;
 	margin-right: auto !important;
 	padding-right: 15px !important;
 	padding-left: 15px !important;
}  

* { 
	font-family: Arial, 'sans-serif' !important;
	letter-spacing: normal !important;
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
} 

html, body {
	margin:0 !important;
	padding:0 !important;
	border:0px !important;
	width: 8.5inpx !important;
}

div.site-wrapper {
	width:8.2inpx !important;

}

@page {
	size: 8.5in 11.0in;
	margin: 2cm;
}
*/

/*# sourceMappingURL=app-print.css.map */
